.header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--typo-white);
    z-index: 100;

    &__nav {
        padding: 25px 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
    }

    &__link {
        @include txt20;
        padding-bottom: 4px;

        &.active {
            border-bottom: 2px solid var(--typo-black);
        }

        a {
            color: var(--typo-black);
        }
    }
}